<div class="dashboard-nav" style="background-color: #22002f;">
	{{#if page.length }}

		<div class="dashboard-nav-inner">

			<ul>
				<li {{#if dashboard}} class="active" {{/if}}><a href="/admin"><i class="fa fa-calendar-check-o"></i> DASHBOARD</a></li>
			</ul>
			
			<ul data-submenu-title="Campaigns">
				<li {{#if perfcmpgns}} class="active" {{/if}}><a href="/admin/perfcampaigns"><i class="fa fa-tags"></i> Performance Campaigns</a></li>
			</ul>
			
			<ul data-submenu-title="Contacts">
				<li {{#if perfconts}} class="active" {{/if}}><a href="/admin/perfcontacts"><i class="im im-icon-Folder-Archive"></i> Performance Contacts</a></li>
				<li {{#if countries}} class="active" {{/if}}><a href="/admin/countries"><i class="fa fa-tags"></i> Countries</a></li>
			</ul>	

			<ul data-submenu-title="TopUps">
				<li {{#if topup}} class="active" {{/if}}><a href="/admin/m_a_n_u_a_l"><i class="im im-icon-Folder-Archive"></i> Wallet TopUp</a></li>			
			</ul>

			<ul data-submenu-title="Roles and Permission">
				<li {{#if subscription}} class="active" {{/if}}><a href="/admin/subscriptions"><i class="fa fa-shield" aria-hidden="true"></i> Subscriptions</a></li>
				<li {{#if plan}} class="active" {{/if}}><a href="/admin/plans"><i class="fa fa-shield" aria-hidden="true"></i> Plans</a></li>
				<li {{#if permission}} class="active" {{/if}}><a href="/admin/permissions"><i class="fa fa-shield" aria-hidden="true"></i> Permissions</a></li>
				<li {{#if role}} class="active" {{/if}}><a href="/admin/roles"><i class="fa fa-lock" aria-hidden="true"></i> Roles</a></li>
				<li {{#if userRoles}} class="active" {{/if}}><a href="/admin/userroles"><i class="fa fa-users" aria-hidden="true"></i> Assign Roles To Users</a></li>
			</ul>	

			<ul data-submenu-title="Migrations">
				<li {{#if migrate}} class="active" {{/if}}><a href="/admin/contacts/list"><i class="im im-icon-Folder-Archive"></i> Mysql-To-MongoDB</a></li>
			</ul>	

			<ul data-submenu-title="Account">
				<li><a href="/logout"><i class="sl sl-icon-power"></i> Logout</a></li>
			</ul>
			
		</div>

	{{/if}}
	<div id="toggle_my_dashnav" style="position: fixed; 
							top: 78px; left: 0; 
							color: black; 
							background-color: #3ac3dc; 
							padding: 0px 10px; 
							border-radius: 0 7px 7px 0; 
							box-shadow: 1px 1px 3px #999;
							cursor: pointer">
				<span class="tooltip right" title="Hide/Show Navigation">
			<i class="fa fa-eye-slash"></i>
		</span>
	</div>
	</div>