	<div class="dashboard-content">

		<div class="row">

			{{#if grps }}
				<div class="pageerror" style="margin-left: 50px; margin-right: 50px">
					<div style="text-align: center; margin-bottom: 40px"><h3>Welcome back. Please select the groups that you're interested in.</h3></div>
					<div class="row with-forms">
						<form method="POST" id="join_form" action="/WhatsApp/complete" enctype="application/x-www-form-urlencoded">
							<div class="col-md-12">
								<h5>Select Group(s) </h5>
								<input type="hidden" name="code" value="{{ ucode }}" />
								<select class="chosen-select-no-single _plain" name="groups" id="sel_contact_group" required multiple>
									<option label="blank" value="0">Select Group</option>
									{{#each grps}}
									<option value="{{ id }}">{{ name }}</option>
									{{/each}}
									<option disabled>--------------------------------------</option>
									<option value="-1">All Groups</option>
								</select>
								<button type="submit" class="button preview">Finish <i class="fa fa-arrow-circle-right"></i></button><span class="loading_icon fa fa-hourglass-2"></span>
							</div>
						</form>

					</div>
				</div>
			{{else }}
				<div class="pageerror">
					<div style="text-align: center; margin-bottom: 40px"><h3>Opt-in complete. Thanks again.</h3></div>
				</div>
			{{/if}}
			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2019 Tracksend. All Rights Reserved.</div>
			</div>

		</div>

	</div>
