
			<div class="notification other2 closeable">
				<p></p>
				<a class="close"></a>
			</div>

<div class="container stand-alone" id="welcome">

  <div class="small-dialog-header" style="text-align: center">
    <h3>Update Password</h3>
    <div class="aux_msg" style="display:none"></div> 
  </div>

  <!--Tabs -->
  <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
	</div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

    <ul class="tabs-nav">
      <li class=""></li>
      <li class="hidden-lg hidden-md hidden-sm"><a href="#tab2" id="click_tab2"></a></li>
    </ul>

    <div class="tabs-container alt">

      <!-- Login -->
      <div class="tab-content" id="tab1" style="display: none; padding-top: 60px">
        {{#if flash.type}}
          <div class="notification {{ flash.type }} closeable no-shadow">
            <p>{{ flash.msg }}</p>
            <a class="close"></a>
          </div>
        {{/if}}

        <form method="POST" action="/account/update/forgotpassword/" class="login" id="">
          <p class="form-row form-row-wide">
            <label for="email">Email:
              <i class="im im-icon-Lock-2"></i>
              <input class="input-text" type="email" name="email" id="email" required />
            </label>
          </p>

					<div class="_form_errors _e_login" style="display:none"></div>

					<div class="form-row">
						<input type="submit" class="button border margin-top-5" name="login" value="Proceed" /><span class="loading_icon fa fa-hourglass-2"></span>
						<div class="checkboxes margin-top-10"><br><br>
						</div>
					</div>
          
        </form>
      </div>

      <!-- Register -->
      <div class="tab-content hidden-lg hidden-md hidden-sm" id="tab2" style="display: none;">

      </div>

    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-hidden col-xs-hidden">
	</div>
</div>

    

